@font-face{
  src: url('./assets/handwritten.ttf');
  font-family: "handwritten";
}


#app{
  font-size: 1rem;
  font-weight: 400;
}



#herosection{
  font-weight: 500;
}

#herosection .hero-text h1 span{
  letter-spacing: 0.1px;
  font-weight: 400;
  font-family: "handwritten";
}


