@import 'tailwindcss';

@font-face{
  font-family: 'Helvetica';
  src: url('./assets/Helvetica-Now-Var.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

html, body{
  background: #000;
  color: #fff;
  height: 100%;
  width: 100%;
}